    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/CSS/style.css" type="text/css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>    
    <title>Dylan's Blog</title>