<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('template/head') %>
</head>
<body>
    <%- include('template/navbar')%>
    <%- include('template/banner')%>

    <div class="profile-container">
      <div class="profile">
        <div class="profile-photo">
          <img src="/img/可達鴨.jpg" alt="">
        </div>
          <div class="profile-title">
              <h2>Dylan Lo</h2>
          </div>
          <div class="profile-content">
              <p>熱愛國際時事，但記憶只有三秒的金魚腦，努力增加記憶力到四秒</p>
          </div>
      </div>
    </div>
    <%- include('template/footer')%>
</body>
</html>

