.wrap {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    margin: auto;
  }
  
  .form {
    width: 645px;
    border-top: solid 6px #fad312;
    background-color: #fff;
    box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
    font-family: MicrosoftJhengHei;
    padding-left: 40px;
    margin-top: 120px;
  }
  
  .form__title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .event div {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .event + div {
    font-size: 16px;
    color: #e74149;
    margin-top: 22px;
  }
  
  .required::after {
    content: " *";
    color: #e74149;
  }
  
  .form__input .input__title {
    display: block;
    font-size: 20px;
    margin-top: 50px;
  }
  .form__input input {
    font-size: 16px;
    width: 287px;
    height: 23px;
    margin-top: 20px;
  }
  
  .form__input .check-box {
    width: 12px;
    height: 12px;
    margin-top: -2px;
    margin-bottom: -1px;
    vertical-align: middle;
    appearance: none;
    background-color: #bababa;
    outline: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .form__input .signup__type1,
  .form__input .signup__type2 {
    font-size: 14px;
    display: block;
    margin-top: 23px;
    cursor: pointer;
  }
  
  .check-box:checked {
    background-color: #000;
  }
  
  .suggest {
    font-size: 14px;
    margin-top: 12px;
  }
  
  .button {
    cursor: pointer;
    margin-top: 55px;
  }
  
  .button .submit__btn {
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: #fad312;
    display: block;
    border-radius: 3px;
    border-style: none;
    margin-top: 0;
  }
  
  .note {
    font-size: 14px;
    padding: 21px 0 35px;
  }
  
  .footer {
    width: 100%;
    font-size: 13px;
    color: #999999;
    text-align: center;
    background-color: #000000;
    border-top: solid 3px #fad312;
    padding: 20px 0;
    margin: 60px 0 0;
  }
  
  @media (max-width: 768px) {
    .container {
      margin: 0 30px;
    }
    .form {
      width: 90%;
      margin: 80px auto 0 auto;
    }
  
    .form__title {
      font-size: 30px;
    }
  
    .form__input input {
      width: auto;
      height: auto;
    }
  
    .form__input .signup__type,
    .suggest,
    .note {
      font-size: 20px;
    }
    .button {
      font-size: 18px;
      padding: 15px;
      margin-top: 30px;
    }
  }
  
  @media (max-width: 460px) {
    .container {
      margin: 0 20px;
    }
    .form {
      padding-left: 20px;
      margin: 40px auto 0 auto;
    }
    .form__title {
      font-size: 28px;
    }
  
    .event + div {
      font-size: 14px;
    }
    .form__input .input__title {
      font-size: 18px;
      margin-top: 30px;
    }
    .form__input input,
    .form__input .signup__type,
    .suggest,
    .note {
      font-size: 14px;
    }
    .button {
      font-size: 14px;
      padding: 10px 0;
      margin-top: 30px;
    }
  
    .footer {
      padding: 13px 0;
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 320px) {
    .container {
      margin: 0 10px;
    }
    .form {
      padding-left: 10px;
      margin: 25px auto 0 auto;
    }
    .form__title {
      font-size: 26px;
    }
    .footer {
      padding: 10px 0;
    }
  }
  
  .warning {
      color: #e74149;
      margin-top: 5px;
      font-size: 14px;
      position: absolute;
    }
    
    .hide-error {
      visibility: hidden;
    }
    