.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  background-color: #ffffff;
  padding: 0 60px;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  height: 84px;
}

.navbar__name {
  color: #489846;
  font-family: Questrial;
  font-size: 36px;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.navbar__list li {
  margin-right: 10px;
  border-radius: 8px;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.wrapper li a {
  text-decoration: none;
  color: #010101;
  font-family: MicrosoftJhengHei;
  display: block;
  padding: 13px 25px;
}

.navbar__list li.active,
.navbar__list li:hover {
  background-color: #ff7286;
}
.navbar__list li.active a,
.navbar__list li:hover a {
  color: white;
}

.wrapper {
  max-width: 1280;
  margin: 0 auto;
}
.banner {
  background: url(./img/2.png) center/cover no-repeat;
  height: 450px;
  position: relative;
}
.banner:after {
  content: "";
  /* 偽元素一定要設content 不然不會出現 */
  position: absolute;
  background: rgb(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner h1 {
  font-family: MicrosoftJhengHei;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
}

h2 {
  margin: 0;
}
.section {
  margin-top: 80px;
  text-align: center;
}

.section__title {
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 39px;
  border-left: 15px solid #a3dea2;
  padding-left: 17px;
}

.section__desc {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  line-height: 2em;
  margin: 0px 0px 68px 0px;
}

.button {
  padding: 60px 80px;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  color: #3e613d;
  display: inline-block;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.button__order {
  background-color: #a8e8e1;
}

.button__check {
  background-color: #f9f9b5;
  margin-left: 23px;
}

.section__img {
  display: flex;
  flex-direction: row;
}

.section__img div {
  width: 25%;
}

.section__img img {
  width: 100%;
}

.section__comments {
  display: flex;
  padding: 0 50px;
}

.section .comment {
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
  border: solid 1px #c7e5ec;
  width: 33.33%;
  margin: 80px 10px 10px;
  line-height: 1;
  position: relative;
  padding: 40px 20px;
}

.avatar {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.author {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.section .comment .message {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  line-height: 2em;
  /* align-items: flex-end; */
  margin-top: 60px;
}

.section__location {
  display: block;
  margin: auto;
}

footer {
  margin-top: 43px;
}

.footer__top {
  background-color: #e8efee;
  padding: 40px;
}

.footer__info div + div {
  margin-top: 16px;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__info {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  line-height: 1em;
}

.footer__cite {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
  position: absolute;
  right: 0;
  top: -16px;
}

.footer__social {
  font-family: Questrial;
  font-size: 14px;
  position: absolute;
  top: 30%;
  right: 0;
}

.footer__bottom {
  background-color: #35564b;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar .wrapper {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 0;
    font-size: 30px;
  }

  .navbar__list {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .navbar__list li {
    flex: 1;
    text-align: center;
  }

  .navbar__name {
    margin-top: 10px;
  }

  .banner {
    height: 300px;
  }

  .banner h1 {
    font-size: 50px;
  }

  .section {
    margin-top: 60px;
  }
  .section__title {
    font-size: 28px;
  }

  .button {
    padding: 35px 55px;
    font-size: 30px;
  }

  .button__check {
    margin-left: 15px;
    margin-top: 16px;
  }

  .section__img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__img div {
    width: 100%;
  }
  .section__img img {
    vertical-align: middle;
  }
  .section__comments {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .section .comment {
    width: 80%;
    margin-top: 45px;
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .wrapper li a {
    padding: 13px 18px;
  }
  .banner {
    height: 200px;
  }

  .banner h1 {
    font-size: 30px;
  }

  .button__check {
    margin-left: 0px;
  }
  .footer__bottom {
    padding: 10px;
  }

  .footer__cite {
    font-size: 30px;
    bottom: -4px;
  }

  .footer__social {
    top: 63%;
  }
}

@media (max-width: 425px) {
  .navbar {
    padding: 0 35px;
  }
  .banner {
    height: 150px;
  }
  .wrapper li a {
    padding: 13px 15px;
  }
  .section {
    margin-top: 40px;
  }
  .section__title {
    margin-bottom: 30px;
    border-left: 10px solid #a3dea2;
    padding-left: 10px;
  }
  .section__desc,
  .section .comment .message {
    font-size: 14px;
  }
  .section__desc {
    padding: 0 12px;
    margin-bottom: 40px;
  }
  .button {
    padding: 35px 50px;
    font-size: 28px;
  }
  .footer__top {
    padding: 15px;
  }
  .footer__info {
    font-size: 12px;
  }
  .footer__info div + div {
    margin-top: 8px;
  }
  .footer__cite {
    font-size: 24px;
    top: 65px;
    right: 0;
  }
  .footer__social {
    top: 53px;
    font-size: 12px;
  }
  .footer__bottom {
    padding: 0;
    white-space: pre;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .navbar__name {
    font-size: 30px;
  }
  .wrapper li a {
    padding: 8px 10px;
    font-size: 14px;
  }
  .banner {
    height: 100px;
  }
  .banner h1,
  .section__title {
    font-size: 20px;
  }

  .section__desc {
    font-size: 14px;
  }

  .button {
    font-size: 20px;
    padding: 30px 40px;
  }
  .section .comment .message {
    font-size: 14px;
  }
  .author {
    font-size: 16px;
  }
}
